<a href="https://colab.research.google.com/github/karindrima/FDIA-WWLS/blob/main/FDIA_KWLS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install numpy
!pip install pandas
import numpy as np
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [18]:
#%cd /content/drive/MyDrive/IEEE14.csv
df = pd.read_csv('/content/drive/MyDrive/IEEE14.csv')

In [19]:
df.head()

,Date (month/day/year),Time,1,2,3,4,5,6,7,8,9,10,11
0,7/1/2012,0:00:00,3.570531,53.091532,5.046160,0.645409,3.983360,2.621302,1.059980,0.407315,1.909899,1.487827,1.938000
1,7/1/2012,0:30:00,10.360724,49.463833,4.954028,0.664805,2.864563,2.404328,1.124190,0.421628,0.461906,1.406553,1.946107
2,7/1/2012,1:00:00,9.765395,47.802958,4.954028,0.645409,2.843734,2.529945,1.053806,0.418325,0.495827,1.334841,1.954215
3,7/1/2012,1:30:00,8.195110,66.684480,4.923317,0.658986,2.626521,2.141674,0.980952,0.406214,0.438585,1.444799,1.832604
4,7/1/2012,2:00:00,7.677433,9.908792,4.954028,0.600798,2.745542,2.427167,1.055040,0.419426,0.514907,1.277471,1.873141

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17520 entries, 0 to 17519
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date (month/day/year)  17520 non-null  object
 1   Time                   17520 non-null  object
 2   1                      17520 non-null  float64
 3   2                      17520 non-null  float64
 4   3                      17520 non-null  float64
 5   4                      17520 non-null  float64
 6   5                      17520 non-null  float64
 7   6                      17520 non-null  float64
 8   7                      17520 non-null  float64
 9   8                      17520 non-null  float64
 10  9                      17520 non-null  float64
 11  10                     17520 non-null  float64
 12  11                     17520 non-null  float64
dtypes: float64(11), object(2)
memory usage: 1.7+ MB

In [23]:
training_set = df.iloc[:,2:].values
training_set.shape, training_set

((17520, 11), array([[ 3.57053113, 53.0915323 ,  5.04615982, ...,  1.90989936,
          1.48782665,  1.93799991],
        [10.36072363, 49.4638325 ,  4.95402757, ...,  0.46190573,
          1.40655295,  1.94610728],
        [ 9.76539545, 47.80295789,  4.95402757, ...,  0.49582652,
          1.33484086,  1.95421465],
        ...,
        [ 7.47503562, 10.66456328,  4.48440905, ...,  0.64891174,
          6.11843561,  2.33222091],
        [ 4.51565058, 11.05792831,  4.53047517, ...,  0.71039317,
          6.9072686 ,  2.3970799 ],
        [10.51207216, 10.97051386,  4.10052469, ...,  0.64467164,
          5.17183604,  2.07278498]]))

In [26]:
#weighted least square
!pip install torch
from torch import nn
import torch

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch in /usr/local/lib/python3.7/dist-packages (1.12.1+cu113)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch) (4.1.1)

In [27]:
train = torch.tensor(training_set)
train.to(torch.double)
print(train.size(), train.dtype, train)

torch.Size([17520, 11]) torch.float64 tensor([[ 3.5705, 53.0915,  5.0462,  ...,  1.9099,  1.4878,  1.9380],
        [10.3607, 49.4638,  4.9540,  ...,  0.4619,  1.4066,  1.9461],
        [ 9.7654, 47.8030,  4.9540,  ...,  0.4958,  1.3348,  1.9542],
        ...,
        [ 7.4750, 10.6646,  4.4844,  ...,  0.6489,  6.1184,  2.3322],
        [ 4.5157, 11.0579,  4.5305,  ...,  0.7104,  6.9073,  2.3971],
        [10.5121, 10.9705,  4.1005,  ...,  0.6447,  5.1718,  2.0728]],
       dtype=torch.float64)

# New Section